.lang{
    margin-left: 93px;
}
.message-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.phone{
    margin-right: 93px;
}
@media (max-width: 991px) {
  .message-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px; /* Ajout d'un padding pour l'espacement sur les bords */
  }
  .discount {
    display: none;
  }
  .lang {
    margin-left: 0px !important;
    /* Les propriétés de largeur et de couleur de fond sont supprimées pour laisser flexbox gérer l'espacement */
  }
  .phone {
    margin-right: 20px !important;
    /* Les propriétés de largeur, de couleur de fond et de direction sont supprimées */
  }
}
