@media (max-width: 991px) {
  .message-container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
  }
  .discount {
    display: none;
  }
  .lang {
    /* display: inline-block; */
    background-color: gold;
    /* margin-left: -50px; */
    width: 50%;
  }
  .phone {
    /* margin-right: 0px; */
    background-color: brown;
    /* margin-left: -50px; */
    width: 50%;
    direction: rtl;
  }
}
